* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.one {
    width: 300px;
    height: 200px;
    margin: 50px auto;
    background-color: #eee;
    color: #02a6f2;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.one::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #03a9f4;
    z-index: -1;
    position: absolute;
    top: 1px;
    left: 0;
    transform: rotate(-7deg) scale(1.03);

}

.one::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #e91e63;
    position: absolute;
    top: 0.5px;
    left: -2px;
    z-index: -2;
    transform: rotate(6deg) scale(1.01);
} 

.two {
    width: 200px;
    height: 200px;
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 50%;
    margin-bottom: 50px;
    transform: translateX(-50%);
    position: relative;
}

.two::after {
    content: "";
    width: 200px;
    height: 200px;
    border: 10px solid;
    border-color: #e91e63 #e91e63 #e91e63 transparent;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    transition: 0.5s;
}


.two::before {
    content: "";
    width: 220px;
    height: 220px;
    border: 10px solid;
    border-color: #03a9f4 transparent #03a9f4 #03a9f4;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -20px;
    transition: transform 0.5s  0.5s;
}

.two:hover::after{
    transform: rotate(360deg);
}

.two:hover::before{
    transform: rotate(360deg);
}