
div {
    width: 500px;
    margin: auto;
    padding: 20px;
}

.assign-1-shape-1 {
    background-color: rgb(138, 43, 226);
}

.assign-1-shape-2 {
    background-color: rgb(138 43 226 / 50%);
}

.assign-1-shape-3 {
    background-color: rgb(138 43 226 / 10%);
}

