/* Ass-01 */
/* @media print {
    .parent div:first-child {
        font-size: 30px;
    }
} */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.parent > div {
    width: 24%;
    background-color: #eeeeee;
    padding: 5px;
}

p:first-of-type {
    color: #009688;
    font-weight: bold;
}

@media (max-width: 1199px) {
    .parent {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .parent  div{
        width: 97%;
        height: 20%;
    } 

    div p:first-of-type {
        color: black;
    }
}
