.grid {
    margin: auto;
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    justify-content: space-around;
    gap: 20px;
    
}

.grid > div {
    color: #fff;
    background-color: #607d8b;
    padding: 8px;
    counter-increment: num-of-div;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.grid > div::before {
    content: "Element ";
}

.grid > div::after {
    content: counter(num-of-div);
    padding: 3px;
}