* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: auto repeat(2, 1fr) auto;
    grid-template-rows: 1fr auto;
    gap: 20px;
}

.grid > div {
    color: #fff;
    background-color: #403f3f;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}