/*  
    Font Size And CSS Units
    # default font-size == 16px
        
        - px
        
        - em: 1em ==> one Time time from inherite parent 
        
        - rem: Root Time (Root element --> Html )
        
        - percentage : take from parent 

        - vw: View port width => 1% from all width 
        
    Read 
    - Vwh
    - vmin 

    font-variant:
    font-style:
    font-wdight -> 100 ==> 900 , bold OR normal 



    mouse cursor: poniter, grab, move, 

*/


/* 
div {
    font-size: 16px
}

# inside div
span { 
    font-size : 2em ##32px
}

*/


div {
    background-color: #eee;
    color: green;
    padding: 15px;
    text-align: center;
    margin: 15px 10px ;
    border: 2px solid black;
}

h2,
h3,
h4 {
    color: blue;
}