/*  
    Font Size And CSS Units [value can be an absolute, or relative size.]
    # default font-size == 16px
    units        
        - px 
        
        - em: 1em ==> one Time time from inherite parent 
        
        - rem: Root Time (Root element --> Html )
        
        - percentage : take from parent 

        
        - vw: viewport width [ Responsive Font Size ]
            1vw => 1% from all width 
            for exapmle width equal 600px
            and want to make font-size : 5vw;
            1% -> 600px
            6 * 5 = 30px
        
    Read 
    - Vwh
    - vmin 

    font-variant: [normal, small-caps[all lowercase letters are converted to uppercase letters. However, the converted uppercase letters appears in a smaller font size than the original uppercase letters in the text.]]
    font-style: [italic, normal, oblique]
    font-wdight -> 100 ==> 900 , bold OR normal 



    mouse cursor: poniter, grab, move, 

*/


/* 
div {
    font-size: 16px
}

# inside div
span { 
    font-size : 2em ##32px
}

*/


div {
    background-color: #eee;
    color: green;
    padding: 15px;
    text-align: center;
    margin: 15px 10px ;
    border: 2px solid black;
}

h2,
h3,
h4 {
    color: blue;
}