* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --background-color: #ddd;
    --margin: 10px;
    --padding: 10px;
}

.page {
    background-color: #eee;
    overflow: hidden;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.logo,
.links {
    background-color: var(--background-color);
    padding: var(--padding);
    margin: var(--margin);
    display: flex;
    justify-content: center;
    width: calc(100% / 8);
    height: 80%;
    align-items: center;
}



.links {
    justify-content: flex-end;
    flex-grow: 1;
    list-style-type: none;
}

.links li {
    padding-left: 10px;
    /* align-self: center; */
}

.main-area {
    display: flex;
    justify-content: space-between;
    height: 80vh;

}
.content, 
.sidebar {
    background-color: var(--background-color);
    margin: var(--margin);
    padding: var(--padding);
    height: 95%;

}

.content {
    width: calc(65% - 20px);
}

.sidebar {
    width: calc(35% - 20px);
}

.footer {
    background-color: var(--background-color);
    margin: 0 var(--margin);
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}

.footer > div {
    height: 90%;
}